body{
   font-family: cursive , sans-serif;
   background-color: #EED6D3;
   text-align: center;
}
body .index-body{
   font-size: 40px;
   
}
.links{
   font-size: 30px;
}
#one{
   background-color: #67595E;
   background-blend-mode: hard-light;
}
#two{
   background-color: #E8B4B8;
}
#three{
   background-color: #A49393;
}
.header{
   color: #67595E;
   font-size: 40px;
}
.instructions{
   text-align: left;
}
.disc{
   font-size: 24px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header-two{
   font-size: 32px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight: 700;
}
.ingredients,
.steps{
   font-size: 20px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.image{
   height: auto;
   width: 720px;
   border-radius: 10px;
   border: 8px solid #67595E;
}
.header-bg{
   background-color: #E8B4B8;
   background-size: auto;
   border-radius: 10px;
}
.header-three{
   font-size: 26px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.links{
   list-style-type: none;
   padding-inline-start: 0px;
   border: 8px solid #9c3b5dbb;
   border-radius: 5px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.link-paddings{
   padding-inline-start: 0px;
}
.links a:visited{
   color: #000000bb;
}